1.	CX520 may not be important, just demonstrate technical of watch list.
2.	Buy the day after pass 10 (day 11 at around close), set -10% drop market sell
    If next fresh pass 10 show up, re-adjust the -10% drop market sell after 11 days 
    pass of new high. Continue forever pattern like this.
3.	If the pass 10 show up, forced sell, and next bull point never show up or 
    two bull point never has pass 10 show up, then maybe a long term bear. 
    Lower low, lower high. Like NBR (? Please check further when have time)
4.	Alternatively, if two bull points show up and both passed in tandem, 
    also bull points and pass points overlapped, then it is strong bull case. 
    10% rule might not be applicable, hold on for big gain like ADAP.
5.	All these patterns are based on daily price, day is the minimum unit.
6.	Could extend study into minutes or hours.

7. Observation: if after teal9 +5% continued for 10days then drop into bear or correction
   then wait AVG5>AVG20 for 10 continuous days, before buy. This could be W recover 
   or V recover, both applicable. TNDM, WST, MSFT. The uptrend should not have AVG5<AVG20
   to make this rule more accurate.
   Alternatively: 30 day plus AVG5>AVG20 with 1 Teal9, drop, then AVG5>AVG20 for days buy
   BIG
   
8. Observation: If after teal9 +5% continue for 10 days, and no more second teal9 show up,
   the second continue for less than 10 days, and price high lower than the previous peak
   bear caution. BAC
   
   
9. BUY AFTER 13TH DAYS OR MERGED (BDW>0), SELL WHEN AVG5<AVG20, PLEASE DO BACK TEST ON
   THIS IDEA.
